@import "../../styles/constants";

.button {
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 1.3rem;
  height: 40px;
  width: 40px;
}

.open-drawer-button {
  @extend .button;
  
  background: $darkBlue;
  left: 24px;
  padding-top: 9px;
  top: 24px;
}

.close-drawer-button {
  @extend .button;

  background: transparent;
  right: 12px;
  top: 12px;
}
