.row-button {
  background: transparent;
  border: none;
  color: white;
  display: flex;
  padding: 0;
  width: 100%;
}

.text {
  text-align: left;
  flex: 1;
}

.chevron-icon {
  font-size: 0.7rem;
}