<app-card [fullHeight]="true" [padding]="false">
  <h5 class="text-uppercase title p-4">Details</h5>
  <div class="p-4 pt-2 details-content">
    <div class="mb-4">
      <p class="mb-2 fw-bold">General</p>
      <p class="mb-1">Updated At: 23/11/2024 16:06</p>
      <p class="mb-1">Sunrise: 07:00</p>
      <p class="mb-1">Sunset: 17:00</p>
    </div>
    <div class="mb-4">
      <p class="mb-2 fw-bold">Coordinates</p>
      <p class="mb-1">Longitude: -0.13</p>
      <p class="mb-1">Latidude: 51.51</p>
    </div>
    <div>
      <p class="mb-2 fw-bold">Weather</p>
      <p class="mb-1">Clouds 75%</p>
      <p class="mb-1">Broken clouds</p>
    </div>
  </div>
</app-card>
