@import "../../../styles/breakpoints";

.header-left-items {
  align-items: flex-start;
  flex-direction: column;

  @include sm {
    align-items: center;
    flex-direction: row;
  }
}

.title {
  font-weight: 800;
}

.icon {
  color: #839af4;
}

.current-breadcrumb-item {
  color: gray;
}

.button-wrapper {
  margin-right: -0.75rem;
}

.loading-wrapper {
  position: absolute;
  left: calc(50% - 30px / 2);
  top: calc(50% - 30px / 2);
}