<div class="align-items-center d-flex justify-content-between gap-1">
  <div class="d-flex gap-4 header-left-items">
    <h4 class="text-uppercase title mb-0">
      <span [ngClass]="{ 'placeholder w10': !locationDetails }">{{
        locationDetails?.name
      }}</span
      >,
      <span [ngClass]="{ 'placeholder w3': !locationDetails }">{{
        locationDetails?.country?.code
      }}</span>
    </h4>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="bi bi-house icon"></i></li>
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item current-breadcrumb-item">
          <span [ngClass]="{ 'placeholder w5': !locationDetails }">{{
            locationDetails?.name
          }}</span
          >,
          <span [ngClass]="{ 'placeholder w2': !locationDetails }">{{
            locationDetails?.country?.code
          }}</span>
        </li>
      </ol>
    </nav>
  </div>

  <div class="position-relative button-wrapper">
    <div
      [ngClass]="{
        'position-absolute loading-wrapper': true,
        'd-none': !loading
      }"
    >
      <app-loading />
    </div>
    <button
      type="button"
      class="btn button"
      [disabled]="loading"
      (click)="refresh()"
    >
      Refresh
    </button>
  </div>
</div>
