<form [formGroup]="addCityForm">
  <div class="modal-header">
    <h4 class="modal-title">Choose a city to track</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <label class="mb-1" for="country">Select a country</label>
    <select
      class="form-select mb-3"
      aria-label="Select the country to have a cities list"
      id="country"
      formControlName="country"
    >
      <option value="" disabled>Please select</option>
      @for(country of countries; track country.code) {
      <option [value]="country.code">{{ country.name }}</option>
      }
    </select>
    <label class="mb-1" for="city">Select a city</label>
    <input
      id="city"
      type="text"
      class="form-control"
      placeholder="Type to search for a city"
      formControlName="city"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onSubmit()"
      [disabled]="!addCityForm.value.city"
    >
      Add
    </button>
  </div>
</form>
