:host {
  flex: 1;
}

.main-content {
  background: #f8f8f8;
  flex: 1;
  height: 100vh;
}
.trends-grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(3, 204px);
  grid-template-rows: repeat(3, 130px);
  gap: 24px;
  flex-shrink: 1;
}