<div class="p-4 main-content d-flex flex-column">
  <div class="constrained-container">
    <app-header [locationDetails]="locationDetails" />
    <div class="row d-flex flex-fill pt-4 flex-nowrap main-content-body">
      <div class="trends-grid">
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.wind?.toFixed(1)"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.wind?.toFixed(1)"
          unit="from 220°"
          label="Wind Speed"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.visibility"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.visibility"
          unit="m"
          label="Visibility"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.temperature"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.temperature"
          unit="°F"
          label="Temperature"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.feelsLike"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.feelsLike"
          unit="°F"
          label="Feels Like"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.temperatureMin"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.temperatureMin"
          unit="°F"
          label="Minimum Temperature"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.temperatureMax"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.temperatureMax"
          unit="°F"
          label="Maximum Temperature"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.pressure"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.pressure"
          unit="Pa"
          label="Pressure"
        />
        <app-weather-metrics-trend
          [value]="locationDetails?.weatherConditions?.humidity"
          [oldValue]="selectedLocationPreviousState?.weatherConditions?.humidity"
          unit="%"
          label="Humidity"
        />
      </div>
      <div class="flex-fill">
        <app-weather-details [locationDetails]="locationDetails" />
      </div>
    </div>
  </div>
</div>
