html body {
  font-family: "Nunito Sans", sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.placeholder {
  background: #ccc;
  border-radius: 5px;
  color: #ccc;

  &.w1 {
    width: 10px;
  }
  &.w2 {
    width: 20px;
  }
  &.w3 {
    width: 30px;
  }
  &.w4 {
    width: 40px;
  }
  &.w5 {
    width: 50px;
  }
  &.w6 {
    width: 60px;
  }
  &.w7 {
    width: 70px;
  }
  &.w8 {
    width: 80px;
  }
  &.w9 {
    width: 90px;
  }
  &.w10 {
    width: 100px;
  }
}