@import '../../styles/breakpoints';
@import '../../styles/constants';

:host {
  display: flex;
}

$width: 350px;
$padding: 24px;

.side-menu {
  background: $darkBlue;
  color: white;
  min-height: 100vh;
  padding: $padding;
  min-width: $width;
  width: 100%;
}

.side-menu-content {
  min-width: calc($width - 2 * $padding);
  
  padding-top: 40px;

  @include xl {
    padding-top: 0;
    position: fixed;
  }
}